body{
    margin: 0;
    background-image: url('../IMG/artBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.logo{
    font-size: 2.2rem;
    color: #0F4C81;
    font-weight: bold;
    margin: 30px 0px 0px 4%;
}
.explanation{
    width: 50%;
}
.explanation span:nth-of-type(1){
    font-size: 4rem;
    color: #0F4C81;
    font-weight: bold;
    width: 40%;
}
.explanation span:nth-of-type(2){
    color: #292929;
}
section{
    display: flex;
    align-items: flex-end;
    margin-top: 120px;
    transform: translateX(17%);
}
.carouselSlide {
    display: flex;
}
.carouselSlide img{
    width: 65%;
    height: 370px;
    margin-left: 20px;
}
nav{
    float: right;
    display: flex;
    align-items:center;
    width: 180px;
    justify-content: space-around;
    margin-top: 70px;
    transform: translateX(-320%);
}
nav button{
    outline: none;
    border: none;
    border-radius: 10px;
    width: 30px;
    height: 27px;
    background: none;
}
nav button:hover{
    background: #d8d8d8;
    cursor: pointer;
}
nav img{
    cursor: pointer;
}
.leftArrow{
    width: 20px;
    height: 15px;
}
.rightArrow{
    width: 20px;
    height: 15px;
    transform: rotate(180deg);
}
