body{
    background-image: url(./../IMG/backgroundImageMoring.png);
    font-family: 나눔고딕;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.background{
    width: 1920px;
    height: 1080px;
    background-color: #ffffff;
    opacity: 0.4;
    z-index: -1;
    position: fixed;
}

p{
    font-size: 44px;
    font-weight: bold;
    background-color: #ffffff;
    padding: 16px;
    margin: 118px 0px 72px;
}

.characterCollection{
    display: flex;
    width: 100%;
    justify-content: center;
}

.characterBox{
    width: 350px;
    height: 478px;
    margin: 0px 26px;
    background-color: #ffffff;
    border: solid 20px #495A80;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.character{
    opacity: 0.6;
    cursor: pointer;
}

.character:hover{
    opacity: 1;
    transition: all 0.3s;
}

.buttonBox{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.nextButton{
    position: absolute;
    right: 60px;
}

.startMent{
    font-size: 20px;
    color: #FB5757;
    position: absolute;
    top: -20px;
    right: 64px;
    padding: 40px 40px 40px 16px;
    margin: 20px 0px;
    text-decoration: none;
}

.startMent:hover{
    color: #ffffff;
    transition: all 0.2s;
}

.selectionPointer1, .selectionPointer2, .selectionPointer3, .selectionPointer4{
    display: none;
}

.pointerClick{
    display: block;
}

.characterClick{
    opacity: 1;
}